.header__banner {
    display: flex;
    align-items: center;
    padding: .5rem;
    background-color: rgba(34, 139, 34, 0.588);
    backdrop-filter: blur(5px);
}

.header__title {
    font-size: 1.7rem;
    font-weight: 900;
    margin-bottom: 0;
}